URxvt.perl-ext-common: font-size,selection-to-clipboard,keyboard-select

! urxvt general settings
URxvt.background:  #292225
URxvt.foreground:  #e9d5c6
URxvt.cursor:      #e9d5c6
URxvt.scrollBar:   false
URxvt.font:        xft:Monospace:regular:pixelsize=22,xft:Inconsolata\ for\ Powerline:pixelsize=24
URxvt.iso14755:    false
URxvt.iso14755_52: false
URxvt.saveLines:   15000

! urxvt keybinds
URxvt.keysym.Control-Escape: perl:keyboard-select:activate
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

urxvt*color0:  #292225
urxvt*color1:  #6b5c65
urxvt*color2:  #526375
urxvt*color3:  #9a5e54
urxvt*color4:  #ca6b55
urxvt*color5:  #e1956f
urxvt*color6:  #546a80
urxvt*color7:  #e9d5c6
urxvt*color8:  #a3958a
urxvt*color9:  #6b5c65
urxvt*color10: #526375
urxvt*color11: #9a5e54
urxvt*color12: #ca6b55
urxvt*color13: #e1956f
urxvt*color14: #546a80
